/////////COLOR CODES///////////
//Secondary-1 palette
$secondary-1: #24099a;
$secondary-1-light: #cac4e7;
$secondary-1-lighter: #e4e1f3;

//Secondary-2 palette
$secondary-2: #0b032d;
$secondary-2-light: #c4c2cc;
$secondary-2-lighter: #e1e0e5;

//Accent palette
$accent: #fcbf17;
$accent-light: #fee5a2;
$accent-lighter: #fff4e3;

//Link palette
$link: #0062fe;
$link-light: #c2d9ff;
$link-lighter: #e0ecfe;

//Warning palette
$warning: #fca018;
$warning-light: #ffe8c7;
$warning-lighter: #fff4e3;

//Success palette
$success: #25b577;
$success-light: #caedde;
$success-lighter: #e4f6ee;

//Danger pallalet
$danger: #f34158;
$danger-light: #fcd1d7;
$danger-lighter: #fee8eb;

//Gray palette
$gray-dark: #4a4a4a;
$gray-medium-dark: #777777;
$gray-medium: #9d9d9d;
$gray-light-medium: #dbdbdb;
$gray-light: #e6e6e6;
$gray-lighter: #f2f2f2;
$white: #ffffff;

$shadow-color: #0b032d3d;

//card hover color
$card-body-color:#ffffffe0;
