//Importing the fonts
//IranSansX

@font-face {
  font-family: "IranSansX";
  src: url("./Fonts/IranSansX/woff2/IRANSansXFaNum-Black.woff2") format("woff2"),
    url("./Fonts/IranSansX/woff/IRANSansXFaNum-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "IranSansX";
  src: url("./Fonts/IranSansX/woff2/IRANSansXFaNum-Bold.woff2") format("woff2"),
    url("./Fonts/IranSansX/woff/IRANSansXFaNum-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "IranSansX";
  src: url("./Fonts/IranSansX/woff2/IRANSansXFaNum-DemiBold.woff2")
      format("woff2"),
    url("./Fonts/IranSansX/woff/IRANSansXFaNum-DemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "IranSansX";
  src: url("./Fonts/IranSansX/woff2/IRANSansXFaNum-ExtraBold.woff2")
      format("woff2"),
    url("./Fonts/IranSansX/woff/IRANSansXFaNum-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "IranSansX";
  src: url("./Fonts/IranSansX/woff2/IRANSansXFaNum-Light.woff2") format("woff2"),
    url("./Fonts/IranSansX/woff/IRANSansXFaNum-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "IranSansX";
  src: url("./Fonts/IranSansX/woff2/IRANSansXFaNum-Medium.woff2")
      format("woff2"),
    url("./Fonts/IranSansX/woff/IRANSansXFaNum-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "IranSansX";
  src: url("./Fonts/IranSansX/woff2/IRANSansXFaNum-Regular.woff2")
      format("woff2"),
    url("./Fonts/IranSansX/woff/IRANSansXFaNum-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "IranSansX";
  src: url("./Fonts/IranSansX/woff2/IRANSansXFaNum-Thin.woff2") format("woff2"),
    url("./Fonts/IranSansX/woff/IRANSansXFaNum-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "IranSansX";
  src: url("./Fonts/IranSansX/woff2/IRANSansXFaNum-UltraLight.woff2")
      format("woff2"),
    url("./Fonts/IranSansX/woff/IRANSansXFaNum-UltraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
}

//IranYekanX

@font-face {
  font-family: "IranYekanX";
  src: url("./Fonts/IranYekanX/woff2/IRANYekanXFaNum-Black.woff2")
      format("woff2"),
    url("./Fonts/IranYekanX/woff/IRANYekanXFaNum-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "IranYekanX";
  src: url("./Fonts/IranYekanX/woff2/IRANYekanXFaNum-Bold.woff2")
      format("woff2"),
    url("./Fonts/IranYekanX/woff/IRANYekanXFaNum-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "IranYekanX";
  src: url("./Fonts/IranYekanX/woff2/IRANYekanXFaNum-DemiBold.woff2")
      format("woff2"),
    url("./Fonts/IranYekanX/woff/IRANYekanXFaNum-DemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "IranYekanX";
  src: url("./Fonts/IranYekanX/woff2/IRANYekanXFaNum-ExtraBlack.woff2")
      format("woff2"),
    url("./Fonts/IranYekanX/woff/IRANYekanXFaNum-ExtraBlack.woff")
      format("woff");
  font-weight: 950;
  font-style: normal;
}

@font-face {
  font-family: "IranYekanX";
  src: url("./Fonts/IranYekanX/woff2/IRANYekanXFaNum-ExtraBold.woff2")
      format("woff2"),
    url("./Fonts/IranYekanX/woff/IRANYekanXFaNum-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "IranYekanX";
  src: url("./Fonts/IranYekanX/woff2/IRANYekanXFaNum-Heavy.woff2")
      format("woff2"),
    url("./Fonts/IranYekanX/woff/IRANYekanXFaNum-Heavy.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "IranYekanX";
  src: url("./Fonts/IranYekanX/woff2/IRANYekanXFaNum-Light.woff2")
      format("woff2"),
    url("./Fonts/IranYekanX/woff/IRANYekanXFaNum-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "IranYekanX";
  src: url("./Fonts/IranYekanX/woff2/IRANYekanXFaNum-Medium.woff2")
      format("woff2"),
    url("./Fonts/IranYekanX/woff/IRANYekanXFaNum-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "IranYekanX";
  src: url("./Fonts/IranYekanX/woff2/IRANYekanXFaNum-Regular.woff2")
      format("woff2"),
    url("./Fonts/IranYekanX/woff/IRANYekanXFaNum-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "IranYekanX";
  src: url("./Fonts/IranYekanX/woff2/IRANYekanXFaNum-Thin.woff2")
      format("woff2"),
    url("./Fonts/IranYekanX/woff/IRANYekanXFaNum-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "IranYekanX";
  src: url("./Fonts/IranYekanX/woff2/IRANYekanXFaNum-UltraLight.woff2")
      format("woff2"),
    url("./Fonts/IranYekanX/woff/IRANYekanXFaNum-UltraLight.woff")
      format("woff");
  font-weight: 200;
  font-style: normal;
}
