footer {

  border-bottom: 8px solid $secondary-2;

  > .container {
    padding-top: $space-48px;
    padding-bottom: $space-48px;

    gap: $footer-gap;


    .container-fluid {
      gap: $space-16px;
      @media (max-width: 991.68px) {
        column-gap: $space-16px;
        row-gap: 28px;
      }

      .links {
        justify-self: center;
        @include flexbox($flex-direction: column, $align-items: flex-start, $gap: 20px);
        @media (max-width: 575.98px) {
          flex-grow: 1;

        }

        .links-container {
          @include flexbox($flex-direction: column, $align-items: flex-start, $gap: 12px);
          flex-shrink: 1;
        }

        &--services {
          @media (min-width: 992px) {
            margin-bottom: 20px;
          }
          order: 3;

        }

        &--fast-access {
          order: 4;
        }


      }


      span {
        content: '';
      }

      .description {

        order: 1;
        @include flexbox($flex-direction: column, $align-items: flex-start, $gap: 24px);
      }

    }

    .copy-right {

      align-self: center;
      text-align: center;
      justify-self: flex-end;
    }

  }
}
